

.color-green{
	color: #4cc9ad;
}

.color-blue{
	color: #236083;
}

.margin-top{
	margin: 0 auto;
	margin-top: 3rem;
}

.width{
	width: 12rem;
	text-align: center;
}

.opacity{
	opacity: 0.4;
}

i{
	padding: 20px;
	font-size: 30px;
}

.icons>i{
	font-size: 18px;
}

.background-color{
	background-color: #236083;
}

.contact>i{
	margin-top: 10px;
}